section{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}

.cards{
    width: 250px;
    height: 350px;
    padding: 20px;
    align-items: center;
}

.cards:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.img_box img{
    width: 150px;
    height: 200px;
}

.details button{
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: orange;
    border-radius: 5px;
    cursor: pointer;
}

.details button:hover{
    background: #a7790c;
}

